<div class="row">
  <div class="col-md-3">
    <h1>New task</h1>
  </div>
  <div class="col-md-3">
  <%= link_to 'Back', tasks_path, {:style=>'color:white;', :class => "btn btn-primary"} %>
</div>
</div>
<%= render 'form' %>


