<p id="notice"><%= notice %></p>


<h3 style="color: rgba(6, 72, 133, 0.85)">
  <strong>Notes:</strong><br></br>
  
  <%= @task.notes %>
</h3>



<%= link_to 'Edit', edit_task_path(@task), {:style=>'color:white;', :class => 'btn btn-info'} %> |
<%= link_to 'Back', tasks_path, {:style=>'color:white;', :class => "btn btn-warning"} %>
