<%= stylesheet_link_tag "practice1" %>
<%= stylesheet_link_tag "bootstrap" %>

<!doctype html>
<html lang=“en”>
<head>
<meta charset=“utf-8”>
<title>Explore California Trail Guide</title>
<link rel=“stylesheet” href=“_css/main.css” media=“screen, projection”>
<script src=“_scripts/jquery-1.5.1.min.js”></script>
</head>
<body>
  <header id=“mainHeader”>
  <hgroup>
  <!-- <hgroup> ranks title to show, <span> hides --!>
	<h1><span>Explore California</span>Trail Guide</h1> 
	<h2>your complete biking trail source</h2>
	</hgroup>
<nav>
  <h2>Main page navigation</h2> <!-- this will be hidden with css  --!>     
  <ul>
    <li><a href="http://www.explorecalifornia.org" title="Visit Explore California">explore california</a></li>
    <li><a href="trails.htm" title="Trail Reviews" class="current">trail reviews</a></li>
    <li><a href="news.htm" title="Trail News">trail news</a></li>
    <li><a href="resources.htm" title="Trail Resources">resources</a></li>
    <li><a href="http://www.explorecalifornia.org/tours.htm" title="Biking Tours">tours</a></li>
   </ul>
</nav>
</header>
<section id=“trailReviews”>
  <header>
    <h2>Trail Reviews</h2>
    <h3>All Trails</h3>
    <dl>
     <dt>Butte</dt>
       <dd><a href="#" title="our trails">Chico Airport Trail</a></dd>
       <dd><a href="#" title="our trails">Chico West Loop</a></dd>
     <dt>Contra Costa
       <dd><a href="#" title="our trails">Black Diamond Railway</a></dd>
       <dd><a href="#" title="our trails">Contra Costa Canal</a></dd>
       <dd><a href="#" title="our trails">Delta De Anza Fire Loop</a></dd>
     <dt>El Dorado</dt>
       <dd><a href="#" title="our trails">Mission Flat</a></dd>
       <dd><a href="#" title="our trails">South Lake Tahoe</a></dd>
     <dt>Imperial</dt>
       <dd><a href="#" title="our trails">Imperial Valley Ridge Loop</a></dd>
     <dt>Marin</dt>
       <dd><a href="#" title="our trails">Larkspur Path</a></dd>
       <dd><a href="#" title="our trails">Old Rail Grand Loop</a></dd>
       <dd><a href="#" title="our trails">Sir Francis Drake Trail</a></dd>
     <dt>Mono</dt>
       <dd><a href="#" title="our trails">Chateau Road Connector</a></dd>
       <dd><a href="#" title="our trails">Chico West Loop</a></dd>
       <dd><a href="#" title="our trails">Lake Mary Road</a></dd>
       <dd><a href="#" title="our trails">Mammoth Creek West</a></dd>
       <dd><a href="#" title="our trails">Shady Rest Loop</a></dd>
     <dt>Ojai</dt>
        <dd><a href="trails.htm" title="our trails">Northridge Loop</a></dd>
        <dd><a href="#" title="our trails">Ojai Inn Loop</a></dd>
     <dt>Orange County</dt>
       <dd><a href="#" title="our trails">Castaways Trail</a></dd>
       <dd><a href="#" title="our trails">Dana Headlands Over Spur</a></dd>
       <dd><a href="#" title="our trails">Pacific Electric Trail</a></dd>
     <dt>Sacramento</dt>
       <dd><a href="#" title="our trails">American River</a></dd>
       <dd><a href="#" title="our trails">Sacramento River Parkway</a></dd>
     <dt>Santa Barbara</dt>
       <dd><a href="#" title="our trails">Atascadero Creek Trail</a></dd>
       <dd><a href="#" title="our trails">Santa Maria Valley Loop</a></dd>
     <dt>Santa Clara</dt>
       <dd><a href="#" title="our trails">Bol Park</a></dd>
       <dd><a href="#" title="our trails">Carpet Bomber</a></dd>
       <dd><a href="#" title="our trails">Evergreen Creek</a></dd>
     <dt>Sonoma</dt>
       <dd><a href="#" title="our trails">Foss Creek Wet Loop</a></dd>
       <dd><a href="#" title="our trails">Fountaincreek Trail</a></dd>
       <dd><a href="#" title="our trails">Petaluma Southern Loop</a></dd>
     <dt>Ventura</dt>
       <dd><a href="#" title="our trails">Channel Islands Trail</a></dd>
       <dd><a href="#" title="our trails">Ojai Valley</a></dd>
    </dl>  
    <h3>Ojai Trails</h3>
  </header>
  <article>
    <h2>Northridge Loop</h2>
      <table id="quickFacts">
      <caption>
      Trail INFO
      </caption>
      <tr>
        <th>trail type:</th>
        <td>single track</td>
      </tr>
      <tr>
        <th>elevation:</th>
        <td>2000 ft</td>
      </tr>
      <tr>
        <th>length:</th>
        <td>14.5 miles</td>
      </tr>
      <tr>
        <th>skill level:</th>
        <td>beginner to intermediate</td>
      </tr>
      </table>
      <p>If you are looking for great scenery and a great workout
        without all the technical difficulty of other trails,
        Northridge Loop is for you. The ridge runs east to west, with Ojai Valley on one 
        side and Rose Valley on the other. The trail features amazing views of both valleys plus the 
        Los Padres National Forest. </p>
      <p>There are a total of 6 trail heads spread out over the 14.5 mile loop, so there are
        plenty of places to get on or off the trail. Hiking is permitting along all trails, so ride 
        with caution and don't override your stopping power. </p>
      <p>While the overall trail is fine for beginners, two spurs, Gridley and Pratt, are much
        narrower and technical, so be sure to check the signage before choosing a trail. </p>
        <figure>
        <figcaption class="fig">Trail Map Elevation</figcaption>
          <img src="assets/test.jpg" alt="Northridge Trail Map" title="Northiridge Trail Map">
          <img src="assets/test.jpg" alt="Northridge Trail Elevation" title="Northiridge Trail Elevation">
        <!-- <figcaption> could also be placed here to show at bottom of photo --!>
        </figure>
      <h3>Skill level</h3>
      <h3>Surface</h3>
      <p>Most of the lower trails are firebreak roads or other, wide access roads. As you climb, trails
        become single track and a bit more technical. There are patches of bare rock and loose rock is 
        a common on most downhill sections. If you choose to ascend bia the Killabase Road trail
        head, the first quarter mile is paved path.
      </p>
      <h3>Notable features</h3>
      <p>While there aren't any huge jumps or insanely technical sections of the trail, 
        there are some areas that are worth taking the time to explore. Our favorite is known as 
        "Jacob's Ladder," a 25 foot section of rail road ties, iron rebar, and carpet (yes carpet) 
        strips just off the Casidas Park firebreak. Climbing this makeshift purchase point is a
        joy, and presents a decent challenge to all but the serious competitive climber. Recently
        I've heard that some of the more adventurous bikers have been descending it as a series of 
        jumps. If you want to give this a try you need to be extra careful, the washout resumes at 
        the bottom of it and is perched on the edge of a 700 foot drop. So consider yourself warned!
      </p>
     <blockqoute>
      <q>Northridge Loop is easily the best loop in Ojai! You’ll kick yourself if you miss it!</q>
         <footer>
         Nick Brazzi &#8212;<cite>The Complete Guide to Trails</cite>
         </footer>
      </blockqoute>
      <h3>Final thoughts</h3>
    <footer>
     <p>About the author:</p>
      <p>Jeff layton lives in Ventura, California with
        his wife, small dog, and various house plants and 
        writes about biking, Explore California, and the 
        outdoors. Contact him at <a href"mailto:jeff@explorecalifornia.org>jeff@explorecalifornia.org</a>
      </p>
    </footer>
  <section>
    <h2>Comments</h2>
  </section>
    <article>
      <h2>Max Smith wrote this on April 25th, 2011 at 12:52</h2>
    </article>
  </article>
</section>
<article id=“riderReviews>
  <h2>Rider Reviews</h2>
  <article>
  <header>
  <hgroup>
    <h2>Los Robles Trail</h2>
    <h3>by Justin Vyn</h3>
  </hgroup>
    <p>submitted on 02/23/10</p>
  </header>
  </article>
  <article>
  <header>
  <hgroup>
    <h2>Copper Canyon Loop</h2>
    <h3>by Shea Hansen </h3>
  </hgroup>
    <p>submitted on 03/11/11</p>
  </header>
  </article>
</article>
<aside id=“adCopy”>
</aside>
<footer id=“pageFooter”>
<!-- <div class="rightCol"> --!>
<div class="pull-right">
<a href=#mainHeader"><p>return to top</p></a> <!-- notice this links within the page --!>
<p><a href="tel://866-555-4310" title="give us a call">T: 866.555.4310</a></p>
<p><a href="mailto:info@explorecalifornia.org">info@explorecalifornia.org</a></p> <!-- not reccommended due to spam risk --!>
</div>
<!-- <div class="leftCol"> --!>
<div class="pull-left">
<p>all content &copy;copyright 2011 Explpore California.org | please read our <a href="terms.htm" title="our terms of use">terms of use</a></p>
<p><b>Explore California</b></p>
<p>5605 Nota Street<br>
  Ventura, CA 93003
</p>
<p>866.555.4310<br>
  866.555.4315 <i>(24 hour support)</i>
</p>
</div>
</footer>
</body>
</html>
