// Place all the styles related to the Careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("cycle_back.gif");
  color: #1E5A53;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  border: 10px solid #1E5A53;
  height: auto;
}