// Place all the styles related to the FitPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*background-color: #06346B;*/
  background-color: #4D6F78;
  color: #CDB47E;
  text_shadow: 2px 2px 2px black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  border: 10px solid #4A4654;
  box-shadow: 2px 5px 2px gray;
}

.header {
  background: url("water_crop.jpg");
  height: 100px;
  font-family: moonspace;
  padding: 25px;
}

/* 
nav ul, ul.menu {s
  list-style: none;
}
 */
 .btn-black {
  color: white;
  background-color: black;
  border-color: white;
}

.btn-silver {
  color: white;
  background-color: silver;
  border-color: black;
}
.btn-gray {
  color: white;
  background-color: gray;
  border-color: black;
}
.btn-white {
  color: #002041;
  background-color: white;
  border-color: #002041;
}

.btn-orange {
  color: white;
  background-color: #CDB47E;
  border-color: white;
}

.btn-blue {
  color: white;
  background-color: #002041;
  border-color: white;
}

.tds {
  text-align: center;
  width: 100pt;
}
