// Place all the styles related to the FitPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #06346B;
  color: #ff6600;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
  border: 20px solid #ff6600;
  box-shadow: 2px 5px 2px gray;
}

.header {
  height: 100px;
  font-family: moonspace;
  padding: 10px;
}

/* 
nav ul, ul.menu {s
  list-style: none;
}
 */
 .btn-black {
  color: white;
  background-color: black;
  border-color: white;
}

.btn-silver {
  color: white;
  background-color: silver;
  border-color: black;
}
.btn-gray {
  color: white;
  background-color: gray;
  border-color: black;
}
.btn-white {
  color: #ff6600;
  background-color: white;
  border-color: #ff6600;
}

.btn-orange {
  color: white;
  background-color: #ff6600;
  border-color: white;
}

.btn-blue {
  color: white;
  background-color: #06346B;
  border-color: white;
}

.tds {
  text-align: center;
  width: 100pt;
}
