// Place all the styles related to the FitPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgba(192, 192, 192, 0.48);
  color: rgba(6, 72, 133, 0.85);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
  border: 20px solid gray;
}

.header {
  height: 100px;
}

nav ul, ul.menu {
  list-style: none;
}