// Place all the styles related to the Studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: #391F08;
  background-color: #FDFFD3;
  height: auto;
  font-size: 12pt;
  line-height: 18px;
  border: 20px solid #662B01;
/* 
  color: rgba(6, 72, 133, 0.85);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
  border: 20px solid #1E5A53;
 */
}
.studies_nav {
  height: 100px;
  background: url("old-library-crop.jpg");
  padding: 20px;
}
.title_bar {
  font-family: moonspace;
  font-size: 40px;
  height: 60px;
  background-color: #DB9649;
  text-align: center;
  padding: 20px;
}
.pad {
  padding: 5px;
}

.btn-blue {
  color: gold;
  background-color: #301100;
  border-color: #301100;
}

.btn-yellow {
  color: black;
  background-color: #DB9649;
  border-color: #301100;
}

.btn-white {
  color: blue;
  background-color: #993213;
  border-color: #301100;
}