// Place all the styles related to the Studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: blue;
  background-color: gold;
  height: auto;
  font-size: 12pt;
  line-height: 18px;
  border: 20px solid blue;
/* 
  color: rgba(6, 72, 133, 0.85);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
  border: 20px solid #1E5A53;
 */
}
.studies_nav {
  height: 60px;
  background-color: white;
  padding: 10px;
}
.pad {
  padding: 10px;
}

.btn-blue {
  color: gold;
  background-color: blue;
  border-color: blue;
}

.btn-yellow {
  color: black;
  background-color: gold;
  border-color: blue;
}

.btn-white {
  color: blue;
  background-color: white;
  border-color: blue;
}